body{
    font: size 16px;
    color: #fff;
    background-color: #610B0B;
    font-family: Arial, Helvetica, sans-serif;
}
/** Cabecera**/
#header-nav{
    background-color:#DF3A01;
    border-radius: 0;
    border: 0;
}

#header-nav button{
margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white;
}

.navbar-collapse{
    border-top: 0;
}

.navbar-brand, .navbar-nav li a{
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-bottom: 0;
    line-height: 40px;
}

.navbar-brand a:hover {
    text-decoration: none;
}

#nav-list{
    background-color: #DF3A01;
    margin-top: 10px;
}

#nav-list a{
    color:Black;
    text-align: center;
    font-size: 1.6em;
}

#nav-list a:hover{
    background: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
}

/*HOME PAGE*/

#main-content{
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.4em;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 0px;
    margin-bottom: 20px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
    color: black;
}

p{
    color: black;
}

#pollo, #papas, #milanesas {
    width: 100%;
    padding: 20px;
    background-color: white;
    margin-bottom: 60px;
    position: relative;
    
    
}